:host ::ng-deep .ck-editor__editable_inline {
    min-height: 300px;
    overflow-y: scroll;
}

.document-editor__editable-container {

    /* Make it possible to scroll the "page" of the edited content. */
    overflow-y: scroll;
}