<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>{{ "About" | localize }}</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <p>
            This is a Content Management System (CMS) based on <a href="https://aspnetboilerplate.com/" target="_blank">
              ASP.NET ZERO </a>. It has been optimised for Persian/English language.
          </p>
          <h3>What is ASP.NET Boilerplate?</h3>
          <p>
            ASP.NET Boilerplate is an application framework built on latest
            <strong>ASP.NET Core</strong> framework. It makes easy to use
            authorization, dependency injection, validation, exception handling,
            localization, logging, caching, background jobs and so on. It's
            built on already familiar tools like Entity Framework, AutoMapper,
            Castle Windsor...
          </p>
          <p>
            ASP.NET Boilerplate implements
            <strong>NLayer architecture</strong> (Domain, Application,
            Infrastructure and Presentation Layers) and
            <strong>Domain Driven Design</strong> (Entities, Repositories,
            Domain/Application Services, DTO's...). Also implements and provides
            a good infrastructure to implement common software development
            <strong>best practices</strong>.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>