<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <img src="./assets/img/brand/argon-white.png" style="width: 200px;" class="img-fluid">
              <p class="lead text-white">{{siteSetting.slogan}}</p>
              <div class="btn-wrapper mt-5">
                <a href="#" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
                  <span class="btn-inner--text">دانلود بروشور</span>
                </a>
                <a href="#" class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0" target="_blank">
                  <span class="btn-inner--icon"><i class="fa fa-github"></i></span>
                  <span class="btn-inner--text">
                    <span class="text-warning">مارا در شبکه های مجازی</span> دنبال کنید</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{page?.title}}</h1>
      </div>
      <div class="row justify-content-center">
        <div *ngFor="let widget of page?.widgets" class="{{getWidgetWidth(widget.sizeType)}}">

          <ng-container *ngIf="widget.widgetType == 1">
            <div [innerHTML]="widget.content"></div>
          </ng-container>

          <ng-container *ngIf="widget.widgetType == 3">
            <p [innerHTML]="widget.content"></p>
          </ng-container>

          <blockquote *ngIf="widget.widgetType == 4">{{widget.content}}</blockquote>

        </div>

      </div>
    </div>
  </div>
  <!-- 
  <app-sections></app-sections> -->
</main>