<form
  class="form-horizontal"
  autocomplete="off"
  #editPageModal="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'EditPage' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'Properties' | localize" class="pt-3 px-2">
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="title">
            {{ "Title" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="title"
              id="title"
              required
              maxlength="32"
              [(ngModel)]="page.title"
              #titleModel="ngModel"
              #titleEl
            />
            <abp-validation-summary
              [control]="titleModel"
              [controlEl]="titleEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="summery">
            {{ "Summery" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="summery"
              id="summery"
              required
              maxlength="32"
              [(ngModel)]="page.summery"
              #summeryModel="ngModel"
              #summeryEl
            />
            <abp-validation-summary
              [control]="summeryModel"
              [controlEl]="summeryEl"
            ></abp-validation-summary>
          </div>
        </div>

        <label class="col-md-3 col-form-label" for="pageType">
          {{ "pageType" | localize }}
        </label> 
        <div class="col-md-9">
          <ng-container *ngFor="let type of pageTypes; let i = index">
            <div class="col-md-6">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                />
                <label class="custom-control-label" >
                  {{ type }}
                </label>
              </div>
            </div>
          </ng-container>
        </div> 

      </tab>
      <tab [heading]="'Content' | localize" class="pt-3 px-2">
        <ckeditor [(ngModel)]="page.content"  [editor]="Editor" data="<p>Hello, world!</p>" name="editorContent"></ckeditor>
      </tab>
    </tabset>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!editPageModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
<!-- min-height: 500px !important; -->