<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>{{ "HomePage" | localize }}</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-6">
          <div class="small-box bg-success">
            <div class="inner">
              <h3>8.2k+</h3>
              <p>Stargazers</p>
            </div>
            <div class="icon">
              <i class="fas fa-star"></i>
            </div>
            <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/stargazers" class="small-box-footer"
              target="_blank">
              More info
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-info">
            <div class="inner">
              <h3>140+</h3>
              <p>Contributors</p>
            </div>
            <div class="icon">
              <i class="fas fa-users"></i>
            </div>
            <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/graphs/contributors"
              class="small-box-footer" target="_blank">
              More info
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>1.6k+</h3>
              <p>Used / Dependents</p>
            </div>
            <div class="icon">
              <i class="fas fa-tools"></i>
            </div>
            <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/network/dependents" class="small-box-footer"
              target="_blank">
              More info
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-primary">
            <div class="inner">
              <h3>3.1k+</h3>
              <p>Forks</p>
            </div>
            <div class="icon">
              <i class="fas fa-code"></i>
            </div>
            <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/network/members" class="small-box-footer"
              target="_blank">
              More info
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box">
            <span class="info-box-icon bg-primary elevation-1">
              <i class="fas fa-plus-circle"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Commits</span>
              <span class="info-box-number">
                6,350+
              </span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1">
              <i class="fas fa-exclamation-triangle"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Issues</span>
              <span class="info-box-number">
                170+
              </span>
            </div>
          </div>
        </div>
        <div class="clearfix hidden-md-up"></div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-info elevation-1">
              <i class="fas fa-tag"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Releases</span>
              <span class="info-box-number">
                200+
              </span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1">
              <i class="fas fa-eye"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Watching by</span>
              <span class="info-box-number">
                810+
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">{{ "LastPages" | localize }}</h3>
            </div>
            <div class="card-body table-responsive p-0">

              <table class="table table-hover text-nowrap">
                <thead class="bg-light">
                  <tr>
                    <th class="w-25">{{ "Title" | localize }}</th>
                    <th class="w-25">{{ "Menu" | localize }}</th>
                    <th>{{ "PageType" | localize }}</th>
                    <th>{{ "CreationDate" | localize }}</th>
                    <th>{{ "LastUpdate" | localize }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let page of pages">
                    <td>
                      {{ page.title }}
                    </td>
                    <td>{{ page.menuTitle }}</td>
                    <td>
                      {{ getPageTypeName(page.pageType) | localize }}
                    </td>
                    <td>{{ page.creationTime | date:'shortDate' }}</td>
                    <td>{{ page.lastModificationTime | date:'shortDate' }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>