<form class="form-horizontal" autocomplete="off" #editPageModal="ngForm" (ngSubmit)="save()">
  <abp-modal-header [title]="'EditPage' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'Properties' | localize" class="pt-3 px-2">

        <div class="form-group row required">

          <label class="col-md-3 col-form-label" for="title">
            {{ "Title" | localize }}
          </label>
          <div class="col-md-9">
            <input type="text" class="form-control" name="title" id="title" required [(ngModel)]="page.title"
              #titleModel="ngModel" #titleEl />
            <abp-validation-summary [control]="titleModel" [controlEl]="titleEl"></abp-validation-summary>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="summery">
            {{ "Summery" | localize }}
          </label>
          <div class="col-md-9">
            <input type="text" class="form-control" name="summery" id="summery" [(ngModel)]="page.summery"
              #summeryModel="ngModel" #summeryEl />
            <abp-validation-summary [control]="summeryModel" [controlEl]="summeryEl"></abp-validation-summary>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="pageType">
            {{ "PageType" | localize }}
          </label>

          <div class="btn-group" dropdown>
            <button id="button-page" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
              aria-controls="dropdown-page-type">
              {{ pageTypeName  | localize }} <span class="caret"></span>
            </button>

            <ul id="dropdown-page-type" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-page">
              <li role="menuitem" *ngFor="let type of pageTypes; let i = index"><a class="dropdown-item"
                  (click)="selectPageType(type.id)">{{ type.name | localize}}</a></li>
            </ul>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">
            {{ "IsHomePage" | localize }}
          </label>
          <div class="col-md-9">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" name="isHomePage" id="isHomePage"
                [(ngModel)]="page.isHomePage" />
              <label class="custom-control-label mt-2" for="isHomePage"></label>
            </div>
          </div>
        </div>

      </tab>
      <tab [heading]="'Content' | localize" class="pt-3 px-2">
        <ckeditor [(ngModel)]="page.content" [editor]="editor" name="editorContent">
        </ckeditor>
      </tab>
      <tab [heading]="'Widget' | localize" class="pt-3 px-2" *ngIf="allWidgets">

        <div class="row">
          <div class="col widget-holder">

            <div class="btn-group action-main" dropdown>
              <button id="button-add-widget" dropdownToggle type="button" class="btn btn-success dropdown-toggle"
                aria-controls="dropdown-add-widget">
                <i class="fas fa-plus"></i>
                {{ addWidgetLable  | localize }} <span class="caret"></span>
              </button>

              <ul id="dropdown-add-widget" *dropdownMenu class="dropdown-menu" role="menu"
                aria-labelledby="button-add-widget">
                <li role="menuitem" *ngFor="let type of widgetTypes; let i = index"><a class="dropdown-item"
                    (click)="addWidget(type.id)">{{ type.name | localize}}</a></li>
              </ul>
            </div>

            <div class="mt-5">
              <bs-sortable [(ngModel)]="parentWidgets" name="widgets" [itemTemplate]="itemTemplate"
                itemClass="sortable-item" itemActiveClass="sortable-item-active" placeholderItem="Please add a widget"
                placeholderClass="placeholderStyle" wrapperClass="sortable-wrapper"> </bs-sortable>
            </div>

            <ng-template #itemTemplate let-item="item" let-index="index">

              <div class="mb-1">

                <div class="btn btn-info mb-1 text-left {{getWidgetWidth(item.value.sizeType)}}">

                  <i class="fas fa-arrows-alt"></i>

                  <button type="button" class="btn btn-secondary expand-collapse"
                    (click)="item.value.isCollapsed = !item.value.isCollapsed"
                    [attr.aria-expanded]="!item.value.isCollapsed" aria-controls="collapseBasic">
                    <i class="fas fa-chevron-right" *ngIf="!item.value.isCollapsed"></i>
                    <i class="fas fa-chevron-down" *ngIf="item.value.isCollapsed"></i>
                  </button>

                  {{widgetName(item.value.widgetType)}}

                </div>

                <div [collapse]="!item.value.isCollapsed">
                  <div class="top-action mb-1 ">

                    <div class="btn-group" dropdown>
                      <button id="button-position" dropdownToggle type="button"
                        class="btn btn-success dropdown-toggle btn-sm" aria-controls="dropdown-position">
                        <i class="fas fa-align-left" *ngIf="item.value.position == 0"></i>
                        <i class="fas fa-align-center" *ngIf="item.value.position == 1"></i>
                        <i class="fas fa-align-right" *ngIf="item.value.position == 2"></i>
                        <i class="fas fa-align-justify" *ngIf="item.value.position == 3"></i>
                        <span class="caret"></span>
                      </button>

                      <ul id="dropdown-position" *dropdownMenu class="dropdown-menu" role="menu"
                        aria-labelledby="button-position">
                        <li role="menuitem" *ngFor="let position of positions; let i = index">
                          <a class="dropdown-item"
                            (click)="setPosition(position,item.value)">{{ position.name | localize}}</a></li>
                      </ul>
                    </div>

                    <div class="btn-group ml-1" dropdown>
                      <button id="button-size" dropdownToggle type="button"
                        class="btn btn-success dropdown-toggle btn-sm" aria-controls="dropdown-size">
                        <i *ngIf="item.value.sizeType == 0">25</i>
                        <i *ngIf="item.value.sizeType == 1">33</i>
                        <i *ngIf="item.value.sizeType == 2">50</i>
                        <i *ngIf="item.value.sizeType == 3">66</i>
                        <i *ngIf="item.value.sizeType == 4">75</i>
                        <i *ngIf="item.value.sizeType == 5">100</i>
                        <span class="caret"></span>
                      </button>

                      <ul id="dropdown-size" *dropdownMenu class="dropdown-menu" role="menu"
                        aria-labelledby="button-size">
                        <li role="menuitem" *ngFor="let size of sizeTypes; let i = index">
                          <a class="dropdown-item" (click)="setSize(size,item.value)">{{ size.name}} %</a></li>
                      </ul>
                    </div>

                    <div *ngIf="item.value.widgetType == 0" class="btn-group ml-1" dropdown>
                      <button id="button-container" dropdownToggle type="button" class="btn btn-success dropdown-toggle"
                        aria-controls="dropdown-container">
                        <i class="fas fa-plus"></i>
                        {{ addWidgetLable  | localize }} <span class="caret"></span>
                      </button>

                      <ul id="dropdown-container" *dropdownMenu class="dropdown-menu" role="menu"
                        aria-labelledby="button-container">
                        <li role="menuitem" *ngFor="let type of widgetTypes; let i = index"><a class="dropdown-item"
                            (click)="addWidget(type.id, item.value.id)">{{ type.name | localize}}</a></li>
                      </ul>
                    </div>

                  </div>

                  <textarea *ngIf="item.value.widgetType == 1" [(ngModel)]="item.value.content"
                    name="htmlWidget"></textarea>

                  <ckeditor *ngIf="item.value.widgetType == 3" [(ngModel)]="item.value.content" [editor]="widgetEditor"
                    name="widgetContent">
                  </ckeditor>

                  <textarea *ngIf="item.value.widgetType == 4" [(ngModel)]="item.value.content"
                    name="quoteWidget"></textarea>

                  <div *ngIf="item.value.widgetType == 0" class="d-flex flex-wrap">



                    <div *ngFor="let child of childWidgets" class="{{getWidgetWidth(child.sizeType)}}">

                      <div *ngIf=" child.parentId == item.value.id">

                        <div class="top-action mb-1 ">

                          <div class="btn-group" dropdown>
                            <button id="button-child-position" dropdownToggle type="button"
                              class="btn btn-success dropdown-toggle btn-sm" aria-controls="dropdown-child-position">
                              <i class="fas fa-align-left" *ngIf="child.position == 0"></i>
                              <i class="fas fa-align-center" *ngIf="child.position == 1"></i>
                              <i class="fas fa-align-right" *ngIf="child.position == 2"></i>
                              <i class="fas fa-align-justify" *ngIf="child.position == 3"></i>
                              <span class="caret"></span>
                            </button>

                            <ul id="dropdown-child-position" *dropdownMenu class="dropdown-menu" role="menu"
                              aria-labelledby="button-child-position">
                              <li role="menuitem" *ngFor="let position of positions; let i = index">
                                <a class="dropdown-item"
                                  (click)="setPosition(position,child)">{{ position.name | localize}}</a></li>
                            </ul>
                          </div>

                          <div class="btn-group ml-1" dropdown>
                            <button id="button-child-size" dropdownToggle type="button"
                              class="btn btn-success dropdown-toggle btn-sm" aria-controls="dropdown-child-size">
                              <i *ngIf="child.sizeType == 0">25</i>
                              <i *ngIf="child.sizeType == 1">33</i>
                              <i *ngIf="child.sizeType == 2">50</i>
                              <i *ngIf="child.sizeType == 3">66</i>
                              <i *ngIf="child.sizeType == 4">75</i>
                              <i *ngIf="child.sizeType == 5">100</i>
                              <span class="caret"></span>
                            </button>

                            <ul id="dropdown-child-size" *dropdownMenu class="dropdown-menu" role="menu"
                              aria-labelledby="button-child-size">
                              <li role="menuitem" *ngFor="let size of sizeTypes; let i = index">
                                <a class="dropdown-item" (click)="setSize(size,child)">{{ size.name}} %</a></li>
                            </ul>
                          </div>

                        </div>

                        <textarea *ngIf="child.widgetType == 1" [(ngModel)]="child.content"
                          name="htmlChildWidget"></textarea>

                        <ckeditor *ngIf="child.widgetType == 3" [(ngModel)]="child.content" [editor]="widgetEditor"
                          name="widgetChildContent">
                        </ckeditor>

                        <textarea *ngIf="child.widgetType == 4" [(ngModel)]="child.content"
                          name="quoteChildWidget"></textarea>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>

          </div>
        </div>

      </tab>
    </tabset>
  </div>
  <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!editPageModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>
<!-- min-height: 500px !important; -->