<form
  class="form-horizontal"
  autocomplete="off"
  #editPageModal="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'EditPage' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'Properties' | localize" class="pt-3 px-2">
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="title">
            {{ "Title" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="title"
              id="title"
              required
              maxlength="32"
              [(ngModel)]="page.title"
              #titleModel="ngModel"
              #titleEl
            />
            <abp-validation-summary
              [control]="titleModel"
              [controlEl]="titleEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="summery">
            {{ "Summery" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="summery"
              id="summery"
              required
              maxlength="32"
              [(ngModel)]="page.summery"
              #summeryModel="ngModel"
              #summeryEl
            />
            <abp-validation-summary
              [control]="summeryModel"
              [controlEl]="summeryEl"
            ></abp-validation-summary>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="pageType">
            {{ "PageType" | localize }}
          </label>
  
          <div class="btn-group" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
              aria-controls="dropdown-basic">
              {{ pageTypeName  | localize }} <span class="caret"></span>
            </button>
  
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
              <li role="menuitem" *ngFor="let type of pageTypes; let i = index"><a class="dropdown-item"
                
                  (click)="selectPageType(type.id)">{{ type.name | localize}}</a></li>
            </ul>
          </div>
        </div>

        <div class="form-group row mb-0">
          <label class="col-md-3 col-form-label">
            {{ "Is Main Page" | localize }}
          </label>
          <div class="col-md-9">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                name="isMainPage"
                id="isMainPage"
                [(ngModel)]="page.isMainPage"
              />
              <label class="custom-control-label mt-2" for="isMainPage"></label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="contentPlace">
            {{ "ContentPlace" | localize }}
          </label>
  
          <div class="btn-group" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
              aria-controls="dropdown-basic">
              {{ contentPlaceName  | localize }} <span class="caret"></span>
            </button>
  
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
              <li role="menuitem" *ngFor="let place of contentPlaces; let i = index"><a class="dropdown-item"
                
                  (click)="selectContentPlace(place.id)">{{ place.name | localize}}</a></li>
            </ul>
          </div>
        </div>

      </tab>
      <tab [heading]="'Content' | localize" class="pt-3 px-2">
        <ckeditor [(ngModel)]="page.content"  [editor]="Editor" data="<p>Hello, world!</p>" name="editorContent"></ckeditor>
      </tab>
    </tabset>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!editPageModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
<!-- min-height: 500px !important; -->